<div class="row">

  <div class="span2">
    <h1 class="category-info-box">
      <%= image_tag @question.category_of_question.category_image.url if @question.category_of_question %>
      <%= @question.category_of_question.category_name %>
    </h1>
    <div class="questioner-box">
       <div class="img">
         <% if @question.user_question %>
           <img src=<%= @question.user_question.user.image_url %> width="50" height="50" alt="" />
         <% end %>
       </div>
       <div class="info">
         この問題はATKのメンバーによって<%= @question.created_at.to_date %>に作られました。
       </div>
     </div>
  </div>

  <div class="span8">
    <div class="question-box">
      <p class="question"></p>
    </div>

    <div class="progress progress-striped active">
      <div class="bar" style="width 100%;"></div>
    </div>

    <div class="result-box row">
      <div class="span2 box">
        <span class="title">問題ランク</span>
        <span class="question_level"><%= @level %></span>
      </div>
      <div class="span2 box">
        <span class="title">点数</span>
        <span class="question_point"></span>
      </div>
      <div class="span2 box">
        <span class="title">合計</span>
        <span class="test_sum_score"></span>
      </div>
      <div class="btn-box">
        <%= form_tag :action => "test" do %>
          <input type="hidden" class="category_of_question_id" name="category_of_question_id" value="<%= @question.category_of_question_id %>">
          <input type="hidden" class="question_id" name="question_id" value="<%= @question.id%>">
          <input type="hidden" class="user_id" name="user_id" value="<%= current_user.id %>">
          <input type="hidden" class="question_result" name="question_result">
          <input type="hidden" class="sum_count" name="score">
          <input type="hidden" class="question_count" name="question_count">
          <input type="hidden" class="rd_user" name="rd_user">
          <input type="hidden" class="rd_array_user" name="rd_array_user">
          <input type="hidden" class="g_array_user" name="g_array_user">
          <input type="hidden" class="e_array_user" name="e_array_user">
          <input type="hidden" class="d_array_user" name="d_array_user">
          <input type="hidden" class="result_array_user" name="result_array_user">
          <input id="next_question" type="submit" class="btn btn-large btn-primary" value="次の問題へ" onClick="location.href='/tests/test'">
        <% end %>
      </div>
    </div>

    <div class="answer-box">
      <a href="javascript:void(0)" id="answer1"></a>
      <a href="javascript:void(0)" id="answer2"></a>
      <a href="javascript:void(0)" id="answer3"></a>
      <a href="javascript:void(0)" id="answer4"></a>
      <div class="hide-box">
        <div class="label"></div>
      </div>
    </div>

  </div>

</div>

<script>
var answer = new Array(<%= raw @question.correct_answer.to_json %>, <%= raw @question.answer_1.to_json %>, <%= raw @question.answer_2.to_json %>, <%= raw @question.answer_3.to_json %>);
var question = <%= raw @question.question.to_json %>;
var question_id = <%= @question.id %>;
var question_total_count = <%= @question_total_count %>;
var correct_answer = <%= raw @question.correct_answer.to_json %>;
var user_id = <%= current_user.id %>
var category_id = <%= @question.category_of_question_id %>;
var question_count = <%= @question_count %>;
var score_s = <%= @score.score %>;
var rd_user = <%= @score.rd %>;

var rd_array_user = <%= raw @rd_array_user.to_json %>;
var g_array_user = <%= raw @g_array_user.to_json %>;
var e_array_user = <%=  raw @e_array_user.to_json %>;
var d_array_user = <%= raw @d_array_user.to_json %>;
var result_array_user = <%= raw @result_array_user.to_json %>;
</script>
